<div id="albumlist" data-album="{{ range $piece := . }}{{ $piece.Name }}---{{end }}">

</div>
<span type="submit" class="badge bg-info" onclick="playAll('albumlist')"> Play all
</span>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {{ range $piece := . }}
    <div class="col">
        <div class="card-body mh-100">

            <img src="/thumbprints/{{ $piece.ThumbNail }}" alt="{{ $piece.Name }}" width="274" height="154" onClick="play('{{ $piece.Name }}','{{ $piece.Title }}')"> </img>
            <p class="card-text"><span class="badge bg-warning">{{$piece.Duration}}</span>{{ $piece.Title }} </p>
            
            {{ $length := len $piece.Labels }} {{ if ne $length 0 }}{{- range $val := $piece.Labels }}


            <span class="badge bg-badge-secondary" onclick="loadAlbums('{{ $val}}')">{{ $val }}</span> {{- end }}{{ end }}

            <span type="submit" class="badge bg-warning" onclick="loadModal('{{ $piece.Title }}')">
                ...
            </span>
            <span type="submit" class="badge bg-warning" onclick="loadInfoModal('{{ $piece.Title }}')">
                (i)
              </span>
              <span type="submit" class="badge bg-warning" onclick="reload('{{ $piece.Title }}')">
                reload </span>
            <!-- <button type="button" class="btn btn-primary" onClick="play('{{ $piece.Name }}')">Play</button> -->
        </div>
    </div>
    {{ end }}
</div>