<p class="border">
    <span class="badge bg-warning" onclick="loadAlbums('CONTROL','')">
        (ALL)
    </span>
    <span class="badge bg-warning" onclick="loadAlbums('CONTROL','NOLABELS')">
        (No Labels)
    </span> {{ range $key,$value := .Labels }}
    <span class="badge bg-warning" onclick="loadAlbums('CONTENT','{{ $key}}')">
        #{{ $key }}:{{$value }}
    </span> {{end}}
</p>