<!-- Modal -->
<div class="modal fade" id="labelModal" tabindex="-1" aria-labelledby="labelModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelModal">Select Labels</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="labels" class="container">
                    <p class="border">
                        {{ range $key,$value := .Labels }}
                        <input name="labelselector" type="checkbox" class="btn-check" id="btn-check-outlined-{{ $key }}" autocomplete="off" {{ if $value }} checked {{ end }}>
                        <label class="btn btn-outline-warning" for="btn-check-outlined-{{ $key }}">{{ $key }}</label> {{end}}
                    </p>
                    <input id="labeleditortext" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveLabels('{{ .Name }}')">Save changes</button>
            </div>
        </div>
    </div>
</div>