<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModal">info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="labels" class="container">
                    <p class="border">
                        {{ .Title }}  {{ .Name  }} {{.TimeAdded }}  {{.Duration }} 
                        
                    </p>
                    
                </div>

            </div>           
        </div>
    </div>
</div>