<!DOCTYPE HTML>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        #div1 {
            width: 350px;
            height: 70px;
            padding: 10px;
            border: 1px solid #aaaaaa;
        }
        
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            var data = ev.dataTransfer.getData("text");
            const params = {
                url: data,
            };
            const options = {
                method: 'POST',
                body: JSON.stringify(params)
            };


            ev.preventDefault();

            var node = document.createElement('li');
            var ID = "links"
            node.textContent = data

            fetch('/drop', options)
                .then(response => response.json())
                .then(response => {

                    window.location.reload()


                });

            // ev.target.appendChild(document.getElementById(data));
        }
    </script>
</head>

<body>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div id="div2" class="border" ondrop="drop(event)" ondragover="allowDrop(event)">
                ..drop here
            </div>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{ range $name, $pieces := .Videos }}
                <div class="col">
                    <div class="card-body">
                        <video width="320" height="240" controls>
                            <source src="/videos/{{ $name }}" type="video/mp4">
                            
                        Your browser does not support the video tag.
                        </video>
                        <p class="card-text">{{ $name }}</p>
                        {{ $length := len $pieces.Labels }} {{ if ne $length 0 }}{{- range $val := $pieces.Labels }}

                        <span class="badge bg-secondary">#{{ $val }}</span> {{- end }} {{ end }}
                    </div>
                </div>
                {{ end }}


            </div>

        </div>

    </div>

</body>

</html>